{% extends 'payments/base.html' %}
{% load static %}

{% block content %}
    <div class="content">
        <h1>Your shopping cart</h1>
        <table class="cart">
            <thead>
                <td>Изображение</td>
                <td>Название</td>
                <td>Количество</td>
                <td>Цена</td>
                <td>Цена*Количесто</td>
            </thead>
            <tbody>
            {% for it in cart %}
                {% with item=it.item %}
                    <tr>
                        <td>
                            <a href="{{ item.get_absolute_url }}">
                                <img src="
                                    {% if item.image %}
                                        {{ item.image.url }}
                                    {% else %}
                                        {% static 'payments/img/no_image.jpg' %}
                                    {% endif %}">
                            </a>
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ it.quantity }}</td>
                        <td class="num">${{ it.price }}</td>
                        <td class="num">${{ it.total_price }}</td>
                        <td><a href="{% url 'cart_remove' item.id %}">Remove</a></td>

                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">${{ cart.get_total_price }}</td>
            </tr>
            </tbody>
        </table>
        <p class="text-right">
            <a href="{% url 'index' %}" class="button light">Continue shopping</a>
            {% if user.is_authenticated %}
                <button type="submit" class="btn btn-primary" id="submitBtn1"><a href="{% url 'order_create' %}">Checkout</a></button>
            {% else %}
                <button type="submit" class="btn btn-primary"><a href="{% url 'login' %}">Login to Buy</a></button>
            {% endif %}
        </p>
    </div>

{% endblock %}